<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
<div>
	<h3 class="m_t_10 center">New Registration</h3>

	<%= render 'form' %>

</div>

<br/>
<%= link_to 'Back', contacts_path %>