<div>
	<form ng-submit="submitBlog()" id="edit_contact" class="contactForm ng-pristine ng-valid" >
		<div class="form-group">
			<label>Title <span class="redStar">*</span></label>
			<input class="form-control"  ng-model="blog.title" type="text" name="blog[title]" required="required">
		</div>
		<div class="form-group">
			<label>Content</label>
			<textarea id="blogTextArea" class="form-control" ng-model="blog.content" name="blog[content]" required="required"></textarea>
		</div>
		
		<div class="form-group">
			<label>Author</label>
			<input class="form-control"  ng-model="blog.author" type="text" name="blog[author]" required="required">
		</div>
		
		<div class="form-group">
			<input type="submit" class="floatRight btn btn-success" value="Submit" name="commit">
		</div>
	</form>
</div>