<table id="contactsTable" class="table table-bordered table-striped showContactTable" cellspacing="0">
	<tbody>
		<tr>
			<td>Name:</td>
			<td>{{ contact.name}}</td>
		</tr>
		<tr>
			<td>Mobile Num:</td>
			<td>{{ contact.mobile_num}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{ contact.email}}</td>
		</tr>
		<tr>
			<td>Status:</td>
			<td>{{ contact.status}}</td>
		</tr>
		<tr>
			<td>City</td>
			<td>{{ contact.city}}</td>
		</tr>
		<tr>
			<td>Membership</td>
			<td>{{ contact.membership}}</td>
		</tr>

	</tbody>
</table>

